
.formcontact {
	margin: 130px ;
}
.formcontact :focus-within{
	background-color: rgb(167, 167, 167);
}

.presentacion{
	margin-top: 130px;
}
.table{
	margin-top: 130px;
}
.prensa1{
	margin-top: 130px;
}