$bgColor: #13121267;
$bgColorDark: rgb(46, 46, 46);
$ulColor: rgb(243, 243, 243) ;
$ulBackgroung: #797979 ;
$formBackgroung: #a1a1a1 ;
$formColor: #050404;

$mainColor: rgba(2, 2, 2, 0.363);


$point-md: 920px;

$redes:(
    tw:rgb(103, 195, 248),
    fb:rgb(24, 0, 238),
    yt:rgb(250, 0, 0),
    lk:rgb(62, 65, 241)

)